services:
  ai-agent:
    build: .
    container_name: ai-agent
    restart: always
    ports:
      - "2222:22"
    volumes:
      # Persist Claude's auth and history
      - ./claude_data:/home/claude/.claude

# OPTIONAL
# Uncomment below and replace 'self-hosted-ai-starter-it_demo', which should matches existing created network, so that other service can access it
#     networks:
#       - self-hosted-ai-starter-it_demo

# networks:
#   self-hosted-ai-starter-it_demo:
#     external: true
